@import url("https://fonts.googleapis.com/css?family=Quicksand&display=swap");
*, html, body {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Quicksand', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'fontsrusregular';
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header img {
  height: 220px;
}

header h1 {
  margin-top: 70px;
  color: #DD2E44;
}

.navbar {
  background: #272B2B;
  width: 100%;
  height: 5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  top: 0;
}

.nav-links {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 80%;
}

.nav-links li a {
  color: #CCD6DD;
  text-decoration: none;
  font-size: 16px;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  border: 2px solid transparent;
  border-radius: 1em;
  padding: .3em .4em;
}

.nav-links li a:hover {
  color: #DD2E44;
  border-color: #DD2E44;
}

.nav-links li a.active {
  color: #DD2E44;
}

.social-links {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 20%;
}

.social-links li {
  color: #CCD6DD;
  font-size: 16px;
}

.social-links li a {
  color: #CCD6DD;
  text-decoration: none;
  font-size: 28px;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.social-links li a:hover {
  color: #DD2E44;
}

.dogs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 5em 1em;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.dogs h2 {
  text-align: center;
  -ms-flex-preferred-size: break;
      flex-basis: break;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-negative: 5;
      flex-shrink: 5;
  width: 100%;
  margin-bottom: 3em;
  color: #272B2B;
}

.dog {
  text-align: center;
  color: #DD2E44;
  font-weight: bold;
}

.dog .doguinho {
  border-radius: 1em;
  background: #272B2B;
  height: 170px;
}

.dog .doguinho img {
  border-radius: 1em;
  height: 100%;
  -webkit-clip-path: circle(35% at 50% 50%);
          clip-path: circle(35% at 50% 50%);
  -webkit-transition: -webkit-clip-path .4s ease;
  transition: -webkit-clip-path .4s ease;
  transition: clip-path .4s ease;
  transition: clip-path .4s ease, -webkit-clip-path .4s ease;
}

.dog .doguinho img:hover {
  -webkit-clip-path: circle(100% at 50% 50%);
          clip-path: circle(100% at 50% 50%);
  cursor: pointer;
}

footer {
  background: #272B2B;
  color: #DD2E44;
  height: 3vh;
  width: 100%;
  position: absolute;
  bottom: 0;
  text-align: center;
}

footer a {
  color: #CCD6DD;
  text-decoration: none;
}

@media screen and (max-width: 1366px) {
  .navbar {
    height: 8vh;
  }
}
/*# sourceMappingURL=style.css.map */